<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>storySpace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('timer_page') }}">Timer</a>
        <a href="{{ url_for('todolist_page') }}">To-do</a>
      </nav>
    <section class="content">
        <h1>Welcome to story Space</h1>
        <div class="container">
            <img src="{{ url_for('static', filename='IMG_4005.PNG') }}" id="myBtn" class="clickable-image" alt="Click Me">
        </div>
    </section>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Pop-up!</h2>
        <p>นี่คือเนื้อหาที่อยู่ใน Pop-up ครับ</p>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>