<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>storySpace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!--background-->>
    <section class="scene">
        <!-- for click -->
        <div class="hotspot" id="clockArea" data-modal-target="clockModal"
            data-content-url="{{ url_for('timer_page') }}"></div>

        <div class="hotspot" id="taskArea" data-modal-target="todoModal"
            data-content-url="{{ url_for('todolist_page') }}"></div>

        <div class="hotspot" id="bottleArea" data-modal-target="bottleModal"
            data-content-url="{{ url_for('openbotton_page') }}"></div>
    </section>
    <!-- POPUP MODALS -->
    <div id="todoModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <div class="modal-body-content"></div>
        </div>
    </div>

    <div id="clockModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <div class="modal-body-content"></div>
        </div>
    </div>

    <div id="bottleModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <div class="modal-body-content"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='todo.js') }}"></script>
    <script src="{{ url_for('static', filename='timer.js') }}"></script>
</body>

</html>