<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>storySpace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
   <div id="bottle-controller">
    
    <h2>Star Memories</h2>
    <p>นี่คือ Task ทั้งหมดที่คุณทำสำเร็จแล้ว:</p>

    <div id="memory-list" class="memory-list-container">
        <p>Loading memories...</p>
    </div>

</div>
</body>
</html>
