<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>storySpace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div id="todo-controller">
        <h2>Progress</h2>

        <div class="progress-container">
            <div id="progress-bar" class="progress-bar"></div>
        </div>

        <div class="input-container">
            <input type="text" id="task-input" placeholder="What needs to be done?">
            <button id="add-task-btn" data-action="ADD_TASK">Add task</button>
        </div>

        <ul id="task-list">
            <li>Loading tasks...</li>
        </ul>

        <div class="todo-footer">
        <button id="clear-completed-btn" data-action="CLEAR_COMPLETED">
            Clear
        </button>

    </div>

</body>

</html>